@import '../../../../scss/vars';

owl-carousel{
	::ng-deep .owl-item {
		text-align: center;
	}
	.item{
		box-shadow: 0 0 10px 0 #111;
		margin: 10px;
		padding: 0 0 5px;
		display: inline-block;
	}
	img{
		max-width: 40vw;
		width: 100%;
		max-height: 300px;
		margin: 0 auto -5px;
	}
}
#paneSplit{
	display: flex;
	flex-direction: row;

	& > section{
		flex: 1 0 50%;
	}
	& > aside{
		flex: 0 0 600px;
		max-width: 600px;

		h4{
			margin: 15px 0 5px;
			text-align: center;
		}
	}
}

::ng-deep{
	/*.owl-item{
	opacity: 0;
	pointer-events: none;
	transition: 0.5s all;

	&.active{
	opacity: 1;
	pointer-events: all;
}
}*/
}