<div class="padder">
	<div class="container">
		<h2>{{ 'dev.title' | translate }}</h2>
		<article [innerHTML]="'dev.gendesc' | translate"></article>
	</div>
	<div class="twoPaneContainer container">
		<div class="oneSide oneSide-left">
			<h3>{{ 'dev.left.title' | translate }}</h3>
			<h4>{{ 'dev.left.subtitle' | translate }}</h4>
			<hr/>
			<div class="images">
				<div data-text="Typo3" class="image"><img src="/assets/images/typo3.svg" [alt]="'dev.left.img.typo3.alt' | translate"></div>
				<div data-text="WordPress" class="image"><img src="/assets/images/wordpress.svg" [alt]="'dev.left.img.wordpress.alt' | translate"></div>
				<div data-text="Prestashop" class="image"><img src="/assets/images/prestashop.svg" [alt]="'dev.left.img.prestashop.alt' | translate"></div>
			</div>
			<div class="content" [innerHTML]="'dev.left.desc' | translate"></div>
			<div class="foot"></div>
			<div class="ctaArea">
				<a class="cta" onclick="ga('send', 'event', 'CallToAction', 'click', 'CMS infos');" [title]="'cta.seeMore' | translate"></a>
			</div>
			<div class="ctaCenter">{{ 'cta.seeMore' | translate }}</div>
		</div>
		<div class="oneSide oneSide-right">
			<h3>{{ 'dev.right.title' | translate }}</h3>
			<h4>{{ 'dev.right.subtitle' | translate }}</h4>
			<hr/>
			<div class="images">
				<div data-text="SailsJS" class="image"><img src="/assets/images/sailsjs.svg" [alt]="'dev.right.img.sailsjs.alt' | translate"></div>
				<div data-text="Angular2" class="image"><img src="/assets/images/angular.svg" [alt]="'dev.right.img.angular.alt' | translate"></div>
				<div data-text="Symfony3" class="image"><img src="/assets/images/symfony3.svg" [alt]="'dev.right.img.symfony.alt' | translate"></div>
			</div>
			<div class="content" [innerHTML]="'dev.right.desc' | translate"></div>
			<div class="foot"></div>
			<div class="ctaArea">
				<a class="cta" onclick="ga('send', 'event', 'CallToAction', 'click', 'CMS infos');" [title]="'cta.seeMore' | translate"></a>
			</div>
		</div>
	</div>
</div>