@import '../../scss/vars';

section{
	padding: 50px 20px 70px;
	
	article{
		max-height: 0;
		overflow: hidden;
		transition: 0.5s all;
	}
	header > .button{
		max-height: 100px;
		overflow: hidden;
		transition: 0.5s all;
	}
	&.open{
		header > .button{
			max-height: 0;
			padding: 0 inherit;
			opacity: 0;
			border-width: 0;
		}

		article{
			max-height: 500px;
		}
	}
}