<div class="container">
	<ul>
		<li><a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F31228">Ajouter les mentions légales</a></li>
	</ul>
	<article>
		<h3>{{ 'about.legal.title' | translate }}</h3>
		<section>
			<h4>{{ 'about.legal.identity.title' | translate }}</h4>
			<p>GERMAIN, Alexandre<br/>
				75000 Paris France</p>
			<h4>{{ 'about.legal.contact.title' | translate }}</h4>
			<p>{{ 'about.legal.contact.email' | translate }}: <a href="mailto:agermain@ithoughts.io">agermain@ithoughts.io</a><br/>
				{{ 'about.legal.contact.phone' | translate }}: <a href="tel:+33652306578">+33 6.52.30.65.78</a></p>
		</section>
	</article>
</div>