@import './vars';
@import './flags';
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

body, html {
	background-color: $white2;
	text-align: justify;
	font-family: 'Source Sans Pro', sans-serif;
	color: $lightGrey;
	font-size: 19px;
	line-height: 100%;
	width: 100%;
	box-sizing: border-box;
	min-height: 100%;
	height: 100%;
}
body {
	padding-top: $headHeight;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans',sans-serif;
	color: $dark;
	font-weight: 400;
	line-height: 100%;
}


a {
	color: $green;
	transition: .5s all;

	&:visited {
		color: $darkGreen;
	}
}

.container {
	margin: 0 auto;
	max-width: 980px;
	@media(max-width: 1000px){
		padding: 0 10px;
	}
}

.button, button {
	background-color: $dark;
	padding: 10px 30px;
	border: 2px solid $white2;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;

	&[disabled]{
		border-color: $lightGrey;
		color: $lightGrey;
		cursor:not-allowed;
	}
}

.dark{
	background: $dark;
	color: $white2;

	h1, h2, h3, h4, h5, h6{
		color: $white2;
	}

	.button, button {
		&[disabled]{
			color: $lightGrey;
		}
		&, &:visited, &:visited {
			color: $white2;
		}
	}
}

hr {
	border: none;
	border-top: 2px solid $green;
	width: 200px;
	max-width: 90%;
	margin: 35px auto;
}

h1 {
	margin: 15px;
	font-size: 60px;

	@media(max-width: 600px){
		font-size: 36px;
	}
}
h1, h2 {
	font-weight: 700;
}
h1,h2,h3{
	text-transform: uppercase;
}

.fullHeight {
	width: 100%;
	min-height: calc(100vh - #{$headHeight});
}

.padder{
	background-color: $white2;
	padding: 65px 0;
	position: relative;
	margin: 0 20px;
	//    z-index: 1;
	//    box-shadow: 0 0 15px 0 $dark;
	//    top: -10px;
}

ul.checklist{
	list-style-type: none;
	padding-left: 0;

	> li{
		margin: 15px 0;

		&::before {
			content: "✓";
			margin-right: 10px;
			color: $green;
		}
	}
}
.flex-col{
	display: flex;
	flex-direction: row;

	> * {
		flex: 1 1 auto;
	}
}


$bg-color: $grey;
$hl-color: $green;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 100%;

form.material{
	select{
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
	}

	input,
	textarea,
	select {
		background: none;
		color: $muted-color;
		font-size: 18px;
		padding: 10px 10px 10px 5px;
		display: block;
		width: $width;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid $muted-color;
		box-sizing: border-box;
		&:focus {
			outline: none;
		}
		&:focus ~ label,
		&:valid ~ label {
			top: -14px;
			font-size: 12px;
			color: $hl-color;
		}
		&.ng-touched:invalid ~ label{
			top: -14px;
			font-size: 12px;
			color:mix(red, $grey, 50%);
		}
		&:focus ~ .bar:before {
			width: $width;
		}
		&:-webkit-autofill{
			background-color: rgba($hl-color, 0.25)!important;
		}
	}
	label {
		color: $muted-color;
		font-size: 16px;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 15px;
		top: 10px;
		transition: $trans-time ease all;
	}
	.bar {
		position: relative;
		display: block;
		width: $width;
		&:before {
			content: '';
			height: 2px;
			width: 0;
			bottom: 0px;
			position: absolute;
			background: $hl-color;
			transition: $trans-time ease all;
			left: 0%;
		}
	}
	.group {
		position: relative;
		margin: 15px 0;
		padding: 0 10px;
	}
}




$loaderSize: 200px;

#main-loader{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	> div{
		flex: 0 0 $loaderSize;
		height: $loaderSize;
		width: $loaderSize;
		position: relative;
	}
}
.loader {
	animation: loaderspin 2s linear infinite;
	border: 4px solid transparent;
	border-radius: 100%;
	border-top-color: $green;
	bottom: 9%;
	content: '';
	left: 9%;
	opacity: .99;
	position: absolute;
	right: 9%;
	top: 9%;

	&:after {
		animation: loaderspin 3s linear infinite;
		border: 3px solid transparent;
		bottom: 10%;
		left: 10%;
		opacity: .7;
		right: 10%;
		top: 10%;
	}
	&:before {
		animation: loaderspin 2s linear infinite;
		border: 2px solid transparent;
		bottom: 26%;
		left: 26%;
		opacity: .4;
		right: 26%;
		top: 26%;
	}
	&:after,
	&:before {
		border-radius: 100%;
		border-top-color: inherit;
		content: '';
		position: absolute;
	}
}


@keyframes loaderspin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}